body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0, auto;
  padding-bottom: 100px;
}

/* location text top index.html page 1    */
.location {
  margin-left: -45%;
  position: relative;
  top: 30%;
}
/* gear icon right side  */
.pathg {
  position: relative;
  left: 85%;
  bottom: 48px;
}
/* Woodbridge location position  */
h1 {
  position: relative;
  left: 10%;
  bottom: ;
}

/* *nav bar unverisal settings all .html pages */
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
}
/* index1 page 1 styling navbar real estate  responsive image */

/* *nav bar unverisal settings ***/
nav ul li,
a {
  list-style: none;
  text-decoration: none;
  display: inline;
  position: relative;
  box-sizing: content-box;
}
/* navbar colour changes  */
a:hover,
a:active,
a:visited {
  color: red;
}
/* icon top  */
nav ul li img {
  padding-bottom: 3%;
  padding-right: 2%;
  box-sizing: content-box;
}

/* ******* Mobile index.html page1 home *********/
.orangrom,
.blu {
  width: 100%;
}

/* container=conroms of  rooms  */
.conroms {
  display: grid;
  grid-template-rows: 85px 350px;
  grid-template-columns: 49% 45%;
  gap: 15px;
}
/* formate 100% width for image responsive  */
.wit,
.gut {
  width: 100%;
}

/* design-home */
.design-homes {
  width: 100%;
  display: grid;
  grid-template-rows: 250px 450px;
  grid-template-columns: 70% 65%;
  gap: 5px;
}
/* home-cont */
.home-cont {
  margin-top: -30%;
}

/* Desinger h3 heading and the selective view  */
h3 {
  position: relative;
  right: 100%;
  margin-top: 25%;
}
/* view all test button */
.view {
  position: relative;
  left: 90%;
}
/* location image pin in the price and details  */
.picon {
  display: inline;
  margin-right: 50%;
  position: relative;
  top: 23px;
}
/* shift the location detail near pin  */
.rom1 p {
  margin-bottom: -2%;
}
/* shift the location detail next image  */
.room2 p {
  margin-bottom: -2%;
}

/* Designer home price list on the right bottom of image*/
.pric {
  box-sizing: content-box;
  width: 50%;
  height: 5%;

  background-color: whitesmoke;
  padding: 0.5%;
  border: 1px solid white;
  border-radius: 13px;
  position: relative;
  left: 70%;
  bottom: 40px;
  color: red;
}

/* animation for the first image on index1.html */
.orangrom:hover {
  animation-name: oraN;
  animation-duration: 10s;
}
@keyframes oraN {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}
/* transform on the second image index1.html */
.blu:active {
  transform: rotateX(45deg);
}
/* transform on the third image index1.html */
.wit:hover {
  transform: translate(25%);
}
/* page3 icons and paragraph ajustment */
.het {
  margin-left: 50%;
}
.peo {
  float: left;
}

/* *******Mobile Page2.html Saved items *********** */
/* top screen icons and text  */
.sor {
  margin-left: 50%;
  position: relative;
  left: 30%;
  bottom: 55px;
}
/* sort icon triangle position */
.sico {
  margin-left: 50%;
  position: relative;
  left: 39%;
  bottom: 90px;
}
/* heading of page 2 rem  */
.sav {
  font-size: 2rem;
}
/* location icon  */
.picon2 {
  display: inline;
  margin-right: 50%;
  position: relative;
  top: 23px;
}

/* *******Mobile Page3.html Alerts *********** */

/* modeling buttons and padding. marging ajustments  */
.button12 {
  padding-left: 32%;
  margin-top: 20%;
  position: sticky;
  margin-bottom: 20%;
  position: relative;
}
/* ask question button */
.ask {
  color: black;
  box-sizing: content-box;
  width: 50%;
  height: 30%;
  background-color: lightgray;
  padding: 5%;
  border: 1px solid white;
  border-radius: 10px;
}
/* Express interest  */
.exp {
  box-sizing: content-box;
  width: 50%;
  height: 30%;
  background-color: lightcoral;
  padding: 5%;
  border: 1px solid white;
  border-radius: 10px;
  margin-left: 5%;
  color: white;
}

/* description of with icon, information section  */
.pres {
  margin-left: -5%;
  margin-top: 5%;
}

.nws {
  display: inline;
  margin-top: 5%;
}
.peo {
  float: left;
  display: inline;
  margin-left: 3%;
}
.bed {
  display: inline;
  left: 15%;
}
.money {
  font-size: 2rem;
  color: red;
}

/******Desktop version*********/
@media (min-width: 700px) {
  /* ******* index.html page1 home *********/
  /* NAVBAR on the top  */
  nav {
    position: relative;
    top: auto;
    margin-left: 26%;
  }
  nav:hover {
    color: blue;
    position: relative;
    top: auto;
    margin-left: 26%;
  }
  /* price button bottom image  */
  .pric {
    margin-top: -5%;
    margin-left: -25%;
    padding-top: 2%;
  }
  /* bottom whiteroom image  */
  img.wit {
    margin-top: 32%;
    margin-left: -20%;
  }
  /* side buttom blue image  */
  img.gut {
    margin-top: 32%;
    margin-left: -10%;
  }
  /*view al text buttom  */
  .view {
    position: relative;
    top: 80%;
    right: 50%;
  }
}
