body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0, auto;
}
/* index1 page 1 styling navbar real estate  responsive image */
nav ul li,
a {
  list-style: none;
  text-decoration: none;
  display: inline;
  position: relative;
  box-sizing: content-box;
}
/* navbar colour changes  */
a:hover,
a:active,
a:visited {
  color: aquamarine;
}

nav ul li img {
  padding-bottom: 3%;
  padding-right: 2%;
  box-sizing: content-box;
}

/* container=conroms of the of the rooms  */
.conroms {
  display: grid;
  grid-template-rows: 800px 800px 800px;
  grid-template-columns: 800px 800px;
}

/* page3 icons and paragraph ajustment */
.het {
  margin-left: 50%;
}
.peo {
  float: left;
}

.pres {
  float: left;
}
