body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0, auto;
  padding-bottom: 100px;
}

/* location text top index.html page 1    */
.location {
  margin-left: -45%;
  position: relative;
  top: 30%;
}
/* gear icon right side  */
.pathg {
  position: relative;
  left: 85%;
  bottom: 48px;
}
/* Woodbridge location position  */
h1 {
  position: relative;
  left: 10%;
  bottom: ;
}
/* *nav bar unverisal settings  */
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
}
/* index1 page 1 styling navbar real estate  responsive image */

/* *nav bar unverisal settings ***/
nav ul li,
a {
  list-style: none;
  text-decoration: none;
  display: inline;
  position: relative;
  box-sizing: content-box;
}
/* navbar colour changes  */
a:hover,
a:active,
a:visited {
  color: red;
}
/* icon top  */
nav ul li img {
  padding-bottom: 3%;
  padding-right: 2%;
  box-sizing: content-box;
}

/* ******* Mobile index.html page1 home *********/
.orangrom,
.blu,
.wit .gut {
  width: 100%;
}

/* container=conroms of  rooms  */
.conroms {
  display: grid;
  grid-template-rows: 350x 350px;
  grid-template-columns: 49% 45%;
  gap: 15px;
}
/* location image pin in the price and details  */
.picon {
  display: inline;
  margin-right: 50%;
  position: relative;
  top: 23px;
}
/* shift the location detail near pin  */
.rom1 p {
  margin-bottom: -2%;
}
.room2 p {
  margin-bottom: -2%;
}

/* container=design-homes of designer rooms  */
.design-homes {
}
/* view all select tap font */
.view {
  display: inline;
  margin-left: 50%;
  position: relative;
  top: 23px;
  color: lightgray;
}

/* Designer home price list on the right bottom of image*/
.pric {
  display: inline;
  box-sizing: content-box;
  width: 15%;
  height: 50%;
  background-color: whitesmoke;
  padding: 0.5%;
  border: 1px solid white;
  border-radius: 13px;
  position: relative;
  left: 70%;
  bottom: 40px;
  color: red;
}

/* animation for the first image on index1.html */
.orangrom:hover {
  animation-name: oraN;
  animation-duration: 10s;
}
@keyframes oraN {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}
/* transform on the second image index1.html */
.blu:active {
  transform: rotateX(45deg);
}
/* transform on the third image index1.html */
.wit:hover {
  transform: translate(25%);
}
/* page3 icons and paragraph ajustment */
.het {
  margin-left: 50%;
}
.peo {
  float: left;
}

/* *******Mobile Page2.html *********** */

/******Desktop *********/
@media (max-width: 750px) {
}
